@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1d1e23, #3e3f4c);
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: 100vh;
}
#root {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.profile-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 300px;
  /* height: 300px; */
  color: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
}
.profile-card p, .profile-card h2 {
  margin: 3px 0;
  padding: 0;
  text-align: center;
}
.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 15px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00d8ff;
}
